.container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 2vw;
    margin-right: 2vw;
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: center; */
}

.item{
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 350px;
    margin-bottom: 5%;
    margin-left: 1vw;
    margin-right: 1vw;
}