.navBar{
    background-color: #1b1a1a;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .navBar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navBar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .navBar a.active {
    background-color: #04AA6D;
    color: white;
  }

  .logout {
    float: right;
    font-size: 25px;
  }