body {
    background-color: black;
}
/* centre div vertically and horizontally*/
.center {
    background-color: black;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.home{
    background-color: black;
}
img {
    width: 1300px;
    height: 400px;
    margin-top: 0cm;
    margin-left: 2.5cm;
   
}
.img2{
    margin-left: 7.5cm;
    margin-bottom: 0.125cm;
    margin-top:0.5cm;
}
.img3{
    margin-left: 16cm;
    margin-top:0.5cm;
}
.row{
    display: flex;
  flex-direction: row;
  margin-top: 0cm;
  margin-left: -2.5cm;
}
.row2{
    display: flex;
    flex-direction: row;
    margin-left: 2cm; 
    margin-top: 0.5cm;
    
}
.popup {
visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 1s ease-in-out;
  width: 500px;
  height: 500px;
}
.button{
    background-color:aqua;
    color: black;
    width: 70px;
    height: 40px;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
    transition: ease background-color 250ms;
   
}
.buyButton{
    background-color: aquamarine;
    color: black;
    width: 70px;
    height: 40px;
    padding: 10px 60px;
    border-radius: 5px;
    margin-top: 0cm;
    margin: 10px 0px;
    cursor: pointer;
    transition: ease background-color 250ms;
   
}
.sellButton{
    background-color: red;
    color: aliceblue;
    width: 70px;
    height: 40px;
    padding: 10px 60px;
    border-radius: 5px;
    margin-top: 0cm;
    margin: 10px 0px;
    cursor: pointer;
    transition: ease background-color 250ms;
   
}
.card{
    background-color: white;
    color:black;
    width: 12cm;
    height: 7cm;
    cursor: pointer;
}
